.CalcButton {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    border: 1px solid rgba(255, 255, 255, 0.89);
    
    color: black;
    cursor: pointer;
    min-width: 2.5em;
    min-height: 2.5em;
    font-family: Roboto;
    font-size: 1.8em;
}

.CalcButton:hover {
    background: rgb(255, 255, 255);
}

.wide {
    /* background-color: red; */
    grid-column: span 2;
}